<div class="modal-content">

    <div class="modal-header">
        <h1 class="text-center">Inscription</h1>
    </div>
    <div class="modal-body">
        <form method="post" action="/user">
            <div class="row inscr">
                <div class="col-md-6">
                    <label>Nom* :</label>
                    <input name="lastname" type="text"  class="form-control input-lg" placeholder="Nom">
                </div>

                <div class="col-md-6">
                    <label>Prénom* :</label>
                    <input name="firstname" type="text"  class="form-control input-lg" placeholder="Prénom">
                </div>

                <div class="col-md-6">
                    <label>image* :</label>
                    <input name="image" type="text"  class="form-control input-lg" placeholder="Prénom">
                </div>

                <div class="col-md-6">
                    <label>Email* :</label>
                    <input name="email" type="email"  class="form-control input-lg" placeholder="Adresse Mail">
                </div>

                <div class="col-md-6">
                    <label>Mot de passe* :</label>
                    <input name="pwd" type="password" class="form-control input-lg" placeholder="Mot de passe">
                </div>
                <div class="col-md-6">
                    <p>*champs obligatoires</p>
                </div>

                <div class="col-md-12 valider">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <p class="text-center text-info">
            Conformément à la loi n° 78-17 du 6 janvier 1978, relative à l'Informatique, aux Fichiers et aux Libertés,
            vous disposez d'un droit d'accès et de rectification des données à caractère personnel vous concernant
            et faisant l’objet de traitements sous la responsabilité du RSI. (ou pas vu que c'est un projet d'école, si tu met tes
            info perso pendant la correction, on en fera ce qu'il nous en plaira !)
        </p>
    </div>
</div>
