<form class="searchform" action="" method="get">
    <input class='movieName' type="text" name="name" value="" placeholder="Warcraft">
    <input type="submit" name="submit" value="submit">
</form>

<div class='video-list'>
</div>

<script type="text/javascript" src='/js/movie.js'></script>

<a href="javascript:nextPage()">Next page</a>
