<form class="searchform" action="" method="get">
	<div class="input-group">
		<div class="input-group-btn">
		<!-- Button and dropdown menu -->
		<input type="submit" class="btn btn-default" name="submit" value="Go!">
		</div>
		<input class='movieName form-control' type="text" name="name" value="" placeholder="Warcraft" class="form-control" aria-label="movie-name">
	</div>
	<br>
	<div class="form-group">
		<label for="order">Trier par : </label>
		<select class="form-control" id="order">
			<option value="popularity">Popularité</option>
			<option value="title">Nom</option>
			<option value="release">Date de sortie</option>
			<option value="voteAverage">Note moyenne</option>
		</select>
	</div>
	<div class="form-group">
		<label for="ascdesc">Ordre : </label>
		<select class="form-control" id="ascdesc">
			<option value="desc">Descendant</option>
			<option value="asc">Croissant</option>
		</select>
	</div>
</div>

<div class="row video-list">
</div>

<script type="text/javascript" src='/js/movie.js'></script>

<a href="javascript:nextPage()">Next page</a>
