<div class="col-sm-6 col-md-4">
	<div class="thumbnail movie-tile">
	  <img src="<%= data.poster %>" alt="<%= data.title %>" width=300>
	  <div class="caption">
	    <h3><%= data.title %></h3>
	    <p>TODO SYNOPSIS</p>
	    <p>
			<a href="/movie/play/<%= data.id %>" class="btn btn-primary" role="button">See</a>
			<a href="#" class="btn btn-default" role="button">Button</a>
		</p>
	  </div>
	</div>
</div>
